<!DOCTYPE html>

<html> 

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <h1>This is about page</h1>
    <p>This site was created by Jason li.</p>
    {{>footer}}

</body>

</html>